<ngx-spinner
bdColor="rgba(51, 51, 51, 0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="card-body">
  <div class="row">
    <div class="col-6 col-sm-4 col-md text-center">
      <button (click)="largeModalCreate.show();f.reset();" class="btn btn-primary" style="float: right;"><i class="fa fa-lightbulb-o"></i>&nbsp;Create
        Tip</button>
    </div>

  </div>
</div>
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Tip</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to Delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="dangerModal.hide();deleteAlert();">Delete</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #largeModalCreate="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Beauty Tip</h4>
        <button type="button" class="close" (click)="largeModalCreate.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div *ngFor="let alert of alertsDismiss">
                <b>
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </b>
              </div>
              <div class="card-header">
                <strong>Create Beauty Tip</strong>
              </div>
              <div class="card-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Tip Name <b style="color:red">*</b></label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50" name="tip_title" class="form-control" placeholder="Text"
                        [(ngModel)]="editData.tip_title" #tip_title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tip_title.invalid }"
                        required />
                      <div *ngIf="f.submitted && tip_title.invalid" class="invalid-feedback">
                        <div *ngIf="tip_title.errors.required">Tip Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Description</label>
                    <div class="col-md-9">
                      <textarea type="text" maxlength="500" rows="5" name="tip_description" class="form-control"
                        placeholder="Text" [(ngModel)]="editData.tip_description"></textarea>
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Image</label>
                    <div class="col-md-9">
                      <img *ngIf="userimagePreview" [src]="userimagePreview.result" height="50">

                      <!-- (click)="updatePromotion(editData);"<span class="help-block">This is a help text</span>  (click)="updatePromotion(editData);largeModalCreate.hide();addCreate();"-->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input"></label>
                    <div class="col-md-9">
                      <input type="file" name="photo" accept="image/*" (change)="getFileDetails($event,'p')" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 col-form-label" for="text-input"></label>
                    <button class="btn btn-primary">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="CloseButton" class="btn btn-secondary" (click)="largeModalCreate.hide()">Close</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Beauty Tip</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong>Edit Beauty Tip</strong>
              </div>
              <div class="card-body">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Tip Name<b style="color:red">*</b></label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50" name="tip_title" class="form-control" placeholder="Text"
                        [(ngModel)]="editData.tip_title" (ngModelChange)="requiredValue($event);">
                       <span  *ngIf="alertMessageValue"  style="color:red">Tip Name is Required</span> 
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Description</label>
                    <div class="col-md-9">
                      <textarea type="text" maxlength="500" rows="5"  name="tip_description" class="form-control" placeholder="Text"
                        [(ngModel)]="editData.tip_description"></textarea>
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="!userimagePreview">
                    <label class="col-md-3 col-form-label" for="text-input">Image</label>
                    <div class="col-md-9">
                      <img [src]="editData.tip_img" height="50">
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="userimagePreview">
                    <label class="col-md-3 col-form-label" for="text-input">Image</label>
                    <div class="col-md-9">
                      <img [src]="userimagePreview.result" height="50">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input"></label>
                    <div class="col-md-9">
                      <input type="file" name="photo" accept="image/*" (change)="getFileDetails($event,'p')">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
        <button type="button" [disabled]="validBtn"class="btn btn-primary" (click)="updatePromotion(editData);largeModal.hide();add();">Save
          changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div *ngFor="let alert of alertsDismiss">
  <b>
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </b>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Beauty Tips List
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Tip Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Video</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categorysData | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{item.tip_title}}</td>
                <td>{{item.tip_description}}</td>
                <td> <img [src]="item.tip_img" height="50"></td>
                <td>{{item.tip_video}}</td>
                <td> <button class="btn-primary" data-toggle="modal" (click)="largeModal.show();editPromotion(item,i)"><i
                      class="fa fa-edit"></i></button></td>
                <td> <button class="btn-danger" data-toggle="modal" (click)="dangerModal.show();DeletePromotion(item,i)"><i
                      class="fa fa-trash"></i></button></td>
              </tr>
              <tr *ngIf="!categorysData || categorysData.length ==0">
                No Records Found
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <!-- <div class="col-xs-12 col-12">
                  <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                              previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true"></pagination>
                </div> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
