<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Activity</h4>
          <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure to Delete ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
          <button type="button" class="btn btn-danger" (click)="dangerModal.hide();deleteAlert();">Delete</button>
        </div>
      </div>
    </div>
  </div>
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong>Edit User Activities</strong> 
              </div>

              <div class="card-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Name<b style="color:red">*</b></label>
                    <div class="col-md-9">
                      <input type="text" maxlength="50"  name="activity_name" class="form-control" placeholder="Text" [(ngModel)]="editData.activity_name"
                      #activity_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && activity_name.invalid }"
                      required>
                      <div *ngIf="f.submitted && activity_name.invalid" class="invalid-feedback">
                        <div *ngIf="activity_name.errors.required">Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Points<b style="color:red">*</b></label>
                    <div class="col-md-9">
                      <input type="number" maxlength="10"  name="activity_points" class="form-control" placeholder="Number" [(ngModel)]="editData.activity_points"
                      #activity_points="ngModel" [ngClass]="{ 'is-invalid': f.submitted && activity_points.invalid }"
                      required>
                      <div *ngIf="f.submitted && activity_points.invalid" class="invalid-feedback">
                        <div *ngIf="activity_points.errors.required">Points is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Description	</label>
                    <div class="col-md-9">
                      <textarea type="text" maxlength="500" rows="5"  name="activity_desc" class="form-control" placeholder="Text" [(ngModel)]="editData.activity_desc" ></textarea>
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <button class="btn btn-primary" >Save changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="CloseButton" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div *ngFor="let alert of alertsDismiss">
  <b><alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert></b> 
 </div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Activities
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categorysData | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{item.activity_name}}</td>
                <td>{{item.activity_points}}</td>
                <td>{{item.activity_desc}}</td>
                <td>{{item.activity_start_date | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.activity_end_date | date: 'dd/MM/yyyy'}}</td>
                <td> <button class="btn-primary" data-toggle="modal" (click)="largeModal.show();editPromotion(item,i)"><i class="fa fa-edit"></i></button></td>
                <td> <button class="btn-danger"  data-toggle="modal"(click)="dangerModal.show();DeletePromotion(item,i)"><i class="fa fa-trash"></i></button></td>
              </tr>
              <tr *ngIf="!categorysData || categorysData.length ==0">
                No Records Found
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <!-- <div class="col-xs-12 col-12">
            <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true"></pagination>
          </div> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
